header img {
    width: 201px;
    padding-left: 37px;
    padding-top: 31px;
    
}

header {
    display: flex;
    justify-content: space-between;
    height: 49px;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

.energy {
    text-decoration: none;
    color: #326238;
    padding-top: 28px;
    padding-left: 4px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
}

.commander-nav a {
    display: flex;
    list-style-type: none;
    padding-right: 61px;
    padding-left: 61px;
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: #DC9F96;
    color: white;
}

.nav-menu-simple a {
    background-color: white;
    color: black;
    padding-left: 0px;
}


.footer {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: black;
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}